[core]
	editor = mvim -f
	excludesfile = /Users/ninja/.gitignore_global
	autocrlf = input
[user]
	name = Youcef Mammar
	email = y.mammar.dev@gmail.com
[alias]
	a = add
	cia = commit -a
	cim = commit -m
	ci = commit
	co = checkout
	st = status
	ss = status .
	lf = ls-files
	pushu = push -u origin HEAD
	pushf = push -f
	remotes = remote -v
	br = branch
	brdiff = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative 
	diffsrc = diff -- . ':!**/*.min.*'
	lsf = ls-files
	lsfm = ls-files -m --exclude-standard
	lsfo = ls-files -o --exclude-standard 
	sst = status --short
	ciaa = commit -a --amend
	ciam = commit -am
	chp = cherry-pick
	stashes = stash list
	brs = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	lol = log --oneline --graph
	lom = log --oneline --graph master..HEAD
	lo = log --oneline --graph master..HEAD
	bro = browse

[diff]
	renames = true
	tool = opendiff

[color]
	ui = true
[github]
	user = tkrugg
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = opendiff
[hub]
	host = github.ibm.com
[credential]
	helper = osxkeychain
[commit]
	template = /Users/ninja/.stCommitMsg
